body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background: linear-gradient(300deg, #7300ff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease-in-out infinite;
  /* opacity: 0.8; */
}

.red {
  background-color: pink;
}

.green {
  background-color:  black;
}

.blue {
  background-color: purple;
}

.yellow {
  background-color: maroon;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
